<!--
Copyright 2018 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="../../components/behaviors/oobe_i18n_behavior.html">
<link rel="import" href="../../components/behaviors/oobe_dialog_host_behavior.html">
<link rel="import" href="../../components/behaviors/login_screen_behavior.html">
<link rel="import" href="../../components/display_manager_types.html">

<link rel="import" href="../../assistant_optin/assistant_optin_flow.html">

<dom-module id="assistant-optin-element">
  <template>
    <assistant-optin-flow-element id="card"></assistant-optin-flow-element>
  </template>
  <script src="assistant_optin.js"></script>
</dom-module>
