<!--
Copyright 2019 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->
{%- for html_import in html_imports %}
<link rel="import" href="{{html_import}}.html">
{% endfor %}
<script src="{{mojom_filename}}-lite.js"></script>
