<style>
  :host {
    background-color: var(--color-new-tab-page-background-override);
    border: solid var(--color-new-tab-page-border) 1px;
    border-radius: var(--ntp-module-border-radius);
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    position: relative;
  }

  #impressionProbe {
    height: 27px;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }

  #moduleElement {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }
</style>
<div id="impressionProbe"></div>
<div id="moduleElement"></div>
