<style include="shared-style cr-shared-style iron-flex">
  #header {
    align-items: center;
    display: flex;
  }

  a[href] {
    text-decoration: none;
    color: var(--cr-link-color);
  }
</style>
<div id="header">
  <h2 class="flex page-title">$i18n{passwords}</h2>
  <cr-button id="addPasswordButton">
    $i18n{addPassword}
  </cr-button>
</div>
<div class="cr-secondary-text"
    inner-h-t-m-l="[[i18nAdvanced('passwordsSectionDescription')]]">
</div>

