<style include="cr-page-host-style cr-shared-style shared-style">
  :host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #main-container {
    align-items: flex-start;
    display: flex;
    flex: 1;
    overflow: overlay;
    position: relative;
  }

  #sidebar,
  #content,
  #space-holder {
    flex: 1 1 0;
  }

  #sidebar {
    height: 100%;
    position: sticky;
    top: 0;
  }

  #content {
    flex-basis: var(--password-manager-main-basis);
  }

  /* The breakpoint of 1027px was decided on by the rounded sum of sidebar
   * width, search bar width and help button width. Smaller value will force
   * overlapping of search bar and page tittle.
   */
  @media (max-width: 1027px) {
    #content {
      min-width: auto;
      /* Add some padding to make room for borders and to prevent focus
       * indicators from being cropped. */
      padding: 0 3px;
    }
  }
</style>
<password-manager-toolbar id="toolbar" narrow="[[narrow_]]">
</password-manager-toolbar>
<div id="main-container">
  <password-manager-side-bar id="sidebar" hidden$="[[narrow_]]">
  </password-manager-side-bar>
  <iron-pages id="content" attr-for-selected="path"
      fallback-selection="passwords"
      selected="[[selectedPage_]]">
    <passwords-section id="passwords" path="passwords"
        class="cr-centered-card-container">
    </passwords-section>
    <div id="checkup" path="checkup" class="cr-centered-card-container">
    </div>
    <settings-section id="settings" path="settings"
        class="cr-centered-card-container">
    </settings-section>
  </iron-pages>
  <!-- An additional child of the flex #main-container to take up space,
      aligned with the right-hand child of the flex toolbar. -->
  <div id="space-holder" hidden$="[[narrow_]]"></div>
<div>
<cr-drawer id="drawer" on-close="onMenuClose_" heading="$i18n{title}"
    align="$i18n{textdirection}">
  <div slot="body">
    <template is="dom-if" id="drawerTemplate">
      <password-manager-side-bar id="drawerSidebar"></password-manager-side-bar>
    </template>
  </div>
</cr-drawer>
<iron-media-query query="(max-width: 1027px)"
    query-matches="{{narrow_}}">
</iron-media-query>
