<!--
Copyright 2019 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/cr_elements/cr_shared_vars.css.html">
<link rel="import" href="chrome://resources/cr_elements/i18n_behavior.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icon/iron-icon.html">

<link rel="import" href="../../components/oobe_icons.html">
<link rel="import" href="../../components/behaviors/login_screen_behavior.html">
<link rel="import" href="../../components/behaviors/oobe_dialog_host_behavior.html">
<link rel="import" href="../../components/behaviors/oobe_i18n_behavior.html">
<link rel="import" href="../../components/buttons/oobe_text_button.html">
<link rel="import" href="../../components/common_styles/common_styles.html">
<link rel="import" href="../../components/common_styles/oobe_dialog_host_styles.html">
<link rel="import" href="../../components/dialogs/oobe_adaptive_dialog.html">

<dom-module id="packaged-license-element">
  <template>
    <style include="oobe-dialog-host-styles"></style>
    <oobe-adaptive-dialog id="packagedLicenseDialog"
        aria-label$="[[i18nDynamic(locale, 'oobePackagedLicenseTitle')]]"
        role="dialog">
      <iron-icon slot="icon" icon="oobe-32:enterprise"></iron-icon>
      <h1 slot="title">
        [[i18nDynamic(locale, 'oobePackagedLicenseTitle')]]
      </h1>
      <p slot="subtitle">
        [[i18nDynamic(locale, 'oobePackagedLicenseSubtitleP1')]]
      </p>
      <p slot="subtitle">
        [[i18nDynamic(locale, 'oobePackagedLicenseSubtitleP2')]]
      </p>
      <div slot="content" class="flex layout vertical center center-justified">
        <img src="../../images/enrollment_complete.svg"
            class="oobe-illustration" aria-hidden="true">
      </div>
      <div slot="bottom-buttons">
        <oobe-text-button id="dont-enroll-button"
            text-key="oobePackagedLicenseDontEnroll"
            on-click="onDontEnrollButtonPressed_"></oobe-text-button>
        <oobe-text-button id="enroll-button"
            text-key="oobePackagedLicenseEnroll" class="focus-on-show"
            inverse on-click="onEnrollButtonPressed_"></oobe-text-button>
      </div>
    </oobe-adaptive-dialog>
  </template>
  <script src="packaged_license.js"></script>
</dom-module>
