<style include="history-clusters-shared-style cr-icons">
  :host {
    --indentation: 52px;
    --search-query-margin: 10px;
    display: block;
    /* Implements the spacing between containers. */
    padding-bottom: var(--cluster-padding-vertical);
  }

  :host([in-side-panel_]) {
    padding-bottom: 8px;
  }

  :host-context(.focus-outline-visible):host(:focus) #container {
    box-shadow: inset 0 0 0 2px var(--cr-focus-outline-color);
  }

  :host([has-hidden-visits_]) #container {
    /* For containers with a "Show More" button, add some additional spacing for
       the pill button by adding a margin on the container. */
    margin-bottom: var(--cluster-padding-vertical);
  }

  :host([in-side-panel_]) #container {
    border-bottom: 3px solid var(--cr-separator-color);
  }

  :host([in-side-panel_]) #container url-visit:last-of-type {
    padding-bottom: 8px;
  }

  /* We need an inner container div to apply spacing between clusters. This is
     because iron-list ignores the margin on the host element. */
  :host(:not([in-side-panel_])) #container {
    background-color: var(--cr-card-background-color);
    border-radius: var(--cr-card-border-radius);
    box-shadow: var(--cr-card-shadow);
    padding: var(--cluster-padding-vertical) 0;
  }

  .label-row {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    min-height: 48px;
    min-width: 0;
    padding-inline-start: var(--cluster-padding-horizontal);
    user-select: none;
  }

  :host([in-side-panel_]) .label-row {
    padding-inline-start: 16px;
  }

  .label {
    color: var(--cr-primary-text-color);
    font-size: 1rem;  /* 16px */
    font-weight: 500;
  }

  .debug-info {
    color: var(--cr-secondary-text-color);
  }

  #label-and-timestamp {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
  }

  #related-searches {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    /* Top is a special 8px value. */
    padding: 8px var(--cluster-padding-horizontal) var(--cluster-padding-vertical);
  }

  search-query {
    margin-top: var(--search-query-margin);
  }

  search-query:not(:last-of-type) {
    margin-inline-end: var(--search-query-margin);
  }

  #visibility-toggle {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: var(--cluster-padding-vertical);
    position: relative;
  }

  #toggle-button {
    --pill-padding-icon: 60px;
    --pill-padding-text: 64px;
    align-items: center;
    background-color: var(--grey-fill-color);
    cursor: pointer;
    display: flex;
    outline: none;
    position: absolute;
    top: calc(var(--cluster-padding-vertical) - var(--pill-height) / 2);
  }

  :host-context(.focus-outline-visible) #toggle-button:focus {
    box-shadow: inset 0 0 0 2px var(--cr-focus-outline-color);
  }

  #toggle-button .icon {
    --cr-icon-button-margin-start: 0;
    --cr-icon-color: var(--icon-color);
    --cr-icon-ripple-margin: 0;
    --cr-icon-ripple-size: 20px;
    transition: transform 300ms;
  }

  :host([expanded_]) #toggle-button .icon {
    transform: rotate(180deg);
  }
</style>
<div id="container" on-visit-clicked="onVisitClicked_"
    on-open-all-visits="onOpenAllVisits_"
    on-remove-all-visits="onRemoveAllVisits_"
    on-remove-visit="onRemoveVisit_">
  <!-- In the side panel the label and timestamp should be stacked on the
       left, while outside the side panel the timestamp and the menu should
       be side by side on the right. -->
  <div class="label-row" hidden="[[!inSidePanel_]]">
    <div id="label-and-timestamp">
      <div id="labelSidePanel" class="label"></div>
      <div class="debug-info">[[cluster.debugInfo]]</div>
      <div class="timestamp">[[cluster.visits.0.relativeDate]]</div>
    </div>
    <cluster-menu></cluster-menu>
  </div>
  <div class="label-row" hidden="[[inSidePanel_]]">
    <div id="label" class="label"></div>
    <div class="debug-info">[[cluster.debugInfo]]</div>
    <div class="timestamp-and-menu">
      <div class="timestamp">[[cluster.visits.0.relativeDate]]</div>
      <cluster-menu></cluster-menu>
    </div>
  </div>
  <template is="dom-repeat" items="[[visibleVisits_]]">
    <url-visit visit="[[item]]" query="[[query]]"></url-visit>
  </template>
  <!-- Disable animation on iron-collapse, as the parent iron-list can't
       easily handle it. -->
  <iron-collapse opened="[[expanded_]]" no-animation>
    <template is="dom-repeat" items="[[hiddenVisits_]]">
      <url-visit visit="[[item]]" query="[[query]]"></url-visit>
    </template>
  </iron-collapse>
  <div id="related-searches" hidden="[[!cluster.relatedSearches.length]]"
      role="list" aria-label$="[[i18n('relatedSearchesHeader')]]"
      on-related-search-clicked="onRelatedSearchClicked_">
    <template is="dom-repeat" items="[[cluster.relatedSearches]]">
      <search-query search-query="[[item]]" index="[[index]]" role="listitem">
      </search-query>
    </template>
  </div>
  <div id="visibility-toggle" hidden="[[!hiddenVisits_.length]]">
    <div id="toggle-button" class="pill pill-icon-end" tabindex="0"
        on-click="onToggleButtonClick_" on-keydown="onToggleButtonKeyDown_">
      <span>[[getToggleButtonLabel_(expanded_)]]</span>
      <span id="toggle-icon" class="icon cr-icon icon-expand-more"></span>
    </div>
  </div>
</div>
