<style include="os-feedback-shared">
  /* Special attribute to hide elements. */
  [hidden] {
    display: none !important;
  }

  :host {
    --iron-icon-height: 20px;
    --iron-icon-width: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .file-input {
    background: none;
    border: none;
    color: var(--cros-color-prominent);
    cursor: pointer;
    font-family: var(--feedback-roboto-font-family);
    font-size: 13px;
    line-height: 20px;
    padding: 0;
  }

  .error-outline {
    --iron-icon-fill-color: var(--cros-icon-color-alert);
    margin-inline-end: 12px;
  }

  #addFileContainer,
  #replaceFileContainer {
    width: 248px;
  }

  #replaceFileContainer {
    display: flex;
    flex-direction: row;
  }

  #replaceFileContainer > button {
    cursor: pointer;
  }

  #replaceFileInfo {
    flex: 1;
    margin-inline-end: 12px;
    overflow: hidden;
    padding: 4px 0 4px 0;
    white-space: nowrap;
  }

  #selectFileDialog {
    height: 0;
    opacity: 0;
    width: 0;
  }

  #selectedFileImage {
    display: block;
    height: auto;
    transition: all 250ms ease;
    width: 68px;
  }

  #selectedFileImage:hover {
    opacity: 0.7;
  }

  #addFileLabel {
    font-weight: var(--feedback-medium-font-weight);
  }

  #addFileIcon {
    margin-inline-end: 10px;
    margin-inline-start: 12px;
  }

  dialog {
    bottom: auto;
    top: auto;
  }

  #selectFileCheckbox {
    margin-inline-end: 10px;
    margin-inline-start: 12px;
  }

  #selectedImageButton {
    background: none;
    border: none;
    height: 48px;
    padding: 0;
    width: 68px;
  }

  #selectedFileImage {
    border-radius: 0 4px 4px 0;
    display: block;
    height: 48px;
    transition: all 250ms ease;
    width: 68px;
  }

  #selectedFileName,
  #replaceFileButton {
    font-weight: var(--feedback-regular-font-weight);
  }

  #selectedFileName {
    color: var(--cros-text-color-primary);
  }

  #selectedFileContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 206px;
  }

</style>
<div id="addFileContainer" hidden="[[hasSelectedAFile_]]">
  <button id="addFileLabel" class="file-input"
      on-click="handleOpenFileInputClick_">
    <iron-icon id="addFileIcon" icon="attachment:add-file"></iron-icon>
    [[i18n('addFileLabel')]]
  </button>
</div>
<input id="selectFileDialog" type="file" on-change="handleFileSelectChange_"
    tabindex="-1">
<div id="replaceFileContainer" hidden="[[!hasSelectedAFile_]]">
  <cr-checkbox id="selectFileCheckbox" class="no-label">
  </cr-checkbox>
  <div id="selectedFileContainer">
    <button id="selectedImageButton" on-click="handleSelectedImageClick_"
        hidden="[[!selectedImageUrl_]]">
      <img id="selectedFileImage" src="[[selectedImageUrl_]]">
    </button>
    <div id="replaceFileInfo">
      <div id="selectedFileName" class="overflow-text">
        [[selectedFileName_]]
      </div>
      <button id="replaceFileButton" class="file-input"
          aria-label="[[i18n('replaceFileArialLabel')]]"
          on-click="handleOpenFileInputClick_">
        [[i18n('replaceFileLabel')]]
      </button>
    </div>
  </div>
</div>
<cr-toast id="fileTooBigErrorMessage" duration="5000">
  <iron-icon id="toastInfoIcon" class="error-outline" icon="cr:error-outline">
  </iron-icon>
  <span id="errorMessage">[[i18n('fileTooBigErrorMessage')]]</span>
</cr-toast>
<cr-dialog id="selectedImageDialog">
  <div id="modalDialogTitle" slot="title">
    <cr-icon-button id="closeDialogButton" class="icon-arrow-back"
        on-click="handleSelectedImageDialogCloseClick_"
        title="[[selectedFileName_]]">
    </cr-icon-button>
    <span id="modalDialogTitleText">[[selectedFileName_]]</span>
  </div>
  <div slot="body">
    <img src="[[selectedImageUrl_]]" class="image-preview">
  </div>
</cr-dialog>
