<style>
  .help-content-label {
    color: var(--cros-text-color-secondary);
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
  }

  .help-item {
    display: flex;
    margin:  12px 0 0;
  }

  .help-item a {
    align-items: center;
    color: var(--cros-text-color-primary);
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .help-item-icon {
    --iron-icon-fill-color: var(--cros-text-color-secondary);
    --iron-icon-height: 20px;
    --iron-icon-width: 20px;
    padding-inline-end: 12px;
  }

  .help-content-offline-details {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 16px;
  }

  .help-content-offline-text {
    color: var(--cros-text-color-secondary);
    line-height: 18px;
    max-width: 200px;
    text-align: center;
  }

  #helpContentLabelContainer {
    align-items: center;
    display: inline-flex;
  }

  #helpContentIcon {
    --cr-tooltip-icon-fill-color: var(--cros-icon-color-secondary);
    margin-inline-start: 6px;
  }

  #helpContentContainer {
    overflow: hidden;
  }
</style>
<iron-media-query query="(prefers-color-scheme: dark)"
  query-matches="{{isDarkModeEnabled_}}">
</iron-media-query>
<div id="helpContentContainer">
  <div id="helpContentLabelContainer">
    <h2 class="help-content-label">[[getLabel_(searchResult, isOnline_)]]</h2>
    <cr-tooltip-icon icon-class="os-feedback:info" id="helpContentIcon"
        hidden$="[[!hasSuggestedHelpContent_(searchResult, isOnline_)]]"
        tooltip-text="[[i18n('helpContentLabelTooltip')]]"
        icon-aria-label="[[i18n('helpContentLabelTooltip')]]">
    </cr-tooltip-icon>
  </div>
  <template is="dom-if" if="[[!isOnline_]]">
    <div class="help-content-offline-details">
      <img src="[[getOfflineIllustrationSrc_(isDarkModeEnabled_)]]"
           alt="[[i18n('helpContentOfflineAltText')]]">
      <div class="help-content-offline-text">
        [[i18n('helpContentOfflineMessage')]]
      </div>
    </div>
  </template>
  <template is="dom-if" if="[[isOnline_]]">
    <dom-repeat items="[[searchResult.contentList]]">
      <template>
        <div class="help-item">
          <a href="[[getUrl_(item)]]" target="_blank"
              on-click="handleHelpContentClicked_">
            <iron-icon icon="[[getIcon_(item.contentType)]]"
                class="help-item-icon">
            </iron-icon>
            [[getTitle_(item)]]
          </a>
        </div>
      </template>
    </dom-repeat>
  </template>
</div>
