<template>
  <style include="cr-shared-style md-select">
    :host {
      --feedback-google-sans-font-family: "Google Sans", Roboto, sans-serif;
      --feedback-regular-font-weight: 400;
      --feedback-roboto-font-family: Roboto, sans-serif;
      --feedback-medium-font-weight: 500;
    }

    html {
      background-color: var(--cros-bg-color);
    }

    a {
      color: var(--cros-link-color);
      text-decoration: none;
    }

    a:focus,
    a:hover {
      text-decoration: underline;
    }

    #container {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    #header {
      display: flex;
      height: 68px;
      margin: 0 0 24px 0;
    }

    #content {
      display: flex;
      flex-direction: column;
      height: 456px;
    }

    .page-title {
      color: var(--cros-text-color-primary);
      font-family: var(--feedback-google-sans-font-family);
      font-size: 22px;
      font-weight: var(--feedback-medium-font-weight);
      line-height: 28px;
      margin: auto 0 0 0;
      margin-block-end: 0;
    }

    .overflow-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .image-preview {
      display: block;
      height: auto;
      margin: auto;
      max-height: 100%;
      max-width: 100%;
      position: relative;
      width: auto;
    }

    cr-dialog::part(dialog) {
      --cr-dialog-body-padding-horizontal: 0px;
      --cr-dialog-title-slot-padding-start: 0px;
      --cr-icon-button-margin-end: 20px;
      width: 590px;
    }

    h2 {
      color: var(--cros-text-color-secondary);
      font-family: var(--feedback-google-sans-font-family);
      font-size: 15px;
      font-weight: var(--feedback-medium-font-weight);
      line-height: 22px;
    }

    #navButtons {
      align-self: flex-end;
      display: flex;
      margin: auto 0 40px 0;
    }

    cr-button {
      line-height: 20px;
    }

    cr-checkbox {
      --cr-checkbox-label-padding-start: 0;
      --cr-checkbox-unchecked-box-color: var(--cros-icon-color-primary);
      margin-inline-end: 12px;
      padding: 2px;
    }

    dialog {
      background-color: transparent;
      border: none;
      font-size: 100%;
      height: 100%;
      margin: 0;
      max-height: initial;
      max-width: initial;
      opacity: 0;
      outline: none;
      overflow: hidden;
      padding: 0;
      width: 100%;
    }

    dialog[open] {
      opacity: 1;
      transition: opacity 200ms;
    }

    .dialog-toolbar {
      align-items: center;
      background-color: var(--cros-bg-color);
      border-bottom: 1px solid var(--cros-separator-color);
      color: var(--cros-text-color-primary);
      display: flex;
      font-family: var(--feedback-google-sans-font-family);
      font-size: 15px;
      font-weight: var(--feedback-medium-font-weight);
      height: 56px;
      line-height: 48px;
      opacity: 1;
      white-space: nowrap;
      z-index: 1;
    }

    .dialog-main-panel {
      background-color: transparent;
      bottom: 0;
      position: absolute;
      /* The top value here should be the total height of the #toolbar including
      the height and the border-width */
      top: 56px;
      width: 100%;
    }

    .dialog-content-panel {
      background-color: var(--cros-app-shield-60);
      color: var(--cros-text-color-primary);
      display: flex;
      flex-direction: column;
      height: calc(100% - 16px);
      justify-content: center;
      outline: none;
      padding: 8px 44px 8px 44px;
      position: relative;
      text-align: center;
      width: calc(100% - 88px);
    }
  </style>
</template>
