<style include="os-feedback-shared">
  #privacyNote {
    color: var(--cros-color-secondary);
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 20px;
    text-align: justify;
    text-justify: inter-word;
  }

  #attachFilesLabelContainer {
    align-items: center;
    display: inline-flex;
  }

  #attachFilesIcon {
    --iron-icon-fill-color: var(--cros-icon-color-secondary);
    display: inline-block;
    height: 20px;
    margin-bottom: 8px;
    margin-inline-start: 6px;
    width: 20px;
  }

  #attachFiles {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  #attachFilesContainer {
    display: flex;
    flex-direction: row;
  }

  .card-frame {
    align-items: center;
    border: 1px solid var(--cros-separator-color);
    border-radius: 4px;
    display: flex;
  }

  #screenshotContainer {
    align-items: center;
    box-sizing: border-box;
    height: 48px;
    margin-inline-end: 12px;
    width: 50%;
  }

  #screenshotContainer > button {
    cursor: pointer;
  }

  #screenshotImage {
    border-radius: 0 4px 4px 0;
    display: block;
    height: 48px;
    transition: all 250ms ease;
    width: 68px;
  }

  #screenshotImage:hover {
    opacity: 0.7;
  }

  #closeDialogButton {
    border: none;
    height: 48px;
    margin-bottom: 4px;
    margin-inline-end: 8px;
    margin-top: 4px;
    min-width: 48px;
    padding: 0;
    width: 48px;
  }

  #backArrow {
    --iron-icon-fill-color: var(--cros-icon-color-primary);
    height: 20px;
    width: 20px;
  }

  #addFileContainer {
    align-items: center;
    box-sizing: border-box;
    height: 48px;
    margin-inline-start: 12px;
    width: 50%;
  }

  #userEmail {
    height: 70px;
  }

  .md-select {
    --md-select-side-padding: 16px;
    height: 32px;
    width: 248px;
  }

  #shareDiagnosticData {
    margin-bottom: 20px;
  }

  .checkbox-field-container {
    display: flex;
    margin-bottom: 8px;
  }

  #pageUrl {
    display: flex;
    margin-bottom: 8px;
    white-space: nowrap;
  }

  #pageUrlLabel {
    display: flex;
    max-width: 488px;
  }

  #tooltipContent {
    white-space: normal;
    word-wrap: break-word
  }

  .disabled-input-text {
    color: var(--cros-text-color-disabled);
  }

  #screenshotCheckbox {
    margin-inline-end: 10px;
    margin-inline-start: 12px;
  }

  #screenshotCheckLabel {
    flex: 1;
    font-weight: 400;
    line-height: 20px;
    margin-inline-end: 12px;
  }

  #imageButton {
    background: none;
    border: none;
    height: 48px;
    padding: 0;
    width: 68px;
  }

  #userConsent {
    display: flex;
    margin-bottom: 20px;
  }

  h2 {
    margin: 0 0 8px 0;
  }

  label {
    color: var(--cros-text-color-primary);
    line-height: 20px;
  }
</style>
<div id="container">
  <div id="header">
    <h1 class="page-title">[[i18n('pageTitle')]]</h1>
  </div>
  <div id="content">
    <!-- Attach files -->
    <div id="attachFiles">
      <div id="attachFilesLabelContainer">
        <h2 id="attachFilesLabel">[[i18n('attachFilesLabel')]]</h2>
        <iron-icon icon="os-feedback:info" id="attachFilesIcon"></iron-icon>
        <paper-tooltip for="attachFilesIcon" position="top" offset="0" fit-to-visible-bounds>
          <div id="attachFilesTooltipContent">
            [[i18n('attachFileLabelTooltip')]]
          </div>
        </paper-tooltip>
      </div>
      <div id="attachFilesContainer">
        <!-- Attach a screenshot -->
        <div id="screenshotContainer" class="card-frame">
          <cr-checkbox id="screenshotCheckbox"
              disabled="[[!hasScreenshot_(screenshotUrl)]]">
          </cr-checkbox>
          <label id="screenshotCheckLabel">[[i18n('attachScreenshotLabel')]]</label>
          <button id="imageButton" on-click="handleScreenshotClick_">
            <img id="screenshotImage" src="[[screenshotUrl]]">
           </button>
        </div>
        <!-- Attach a file -->
        <div id="addFileContainer" class="card-frame">
          <file-attachment></file-attachment>
        </div>
      </div>
    </div>
    <!-- User e-mail -->
    <div id="userEmail" class="text-field-container"
        hidden$="[[!hasEmail_(feedbackContext)]]">
      <h2 id="userEmailLabel">[[i18n('userEmailLabel')]]</h2>
      <select id="userEmailDropDown" class="md-select"
          aria-label="[[i18n('userEmailAriaLabel')]]">
        <option value$="[[feedbackContext.email]]"
            aria-label="user email"
            class="email-dropdown">
          [[feedbackContext.email]]
        </option>
        <option value="" aria-label="anonymous user"
          id="anonymousUser" class="email-dropdown">
          [[i18n('anonymousUser')]]
        </option>
      </select>
    </div>
    <!-- User consent -->
    <div id="userConsent" class="checkbox-field-container">
      <cr-checkbox id="userConsentCheckbox" aria-labelledby="userConsentLabel"></cr-checkbox>
      <label id="userConsentLabel">[[i18n('userConsentLabel')]]</label>
    </div>
    <!-- Diagnostic data -->
    <div id="shareDiagnosticData">
      <h2 id="shareDiagnosticDataLabel">[[i18n('shareDiagnosticDataLabel')]]</h2>
      <!-- URL -->
      <div id="pageUrl" class="checkbox-field-container" hidden="[[!feedbackContext.pageUrl.url]]">
        <cr-checkbox id="pageUrlCheckbox" aria-labelledby="pageUrlLabel" checked></cr-checkbox>
        <label id="pageUrlLabel">[[i18n('sharePageUrlLabel')]]&nbsp;
          <a href="[[feedbackContext.pageUrl.url]]" class="overflow-text" id="pageUrlText" target="_blank">
            [[feedbackContext.pageUrl.url]]
          </a>
          <paper-tooltip for="pageUrlText" fitToVisibleBounds>
            <div id="tooltipContent">[[feedbackContext.pageUrl.url]]</div>
          </paper-tooltip>
        </label>
      </div>
      <!-- System Information -->
      <div id="sysInfoContainer" class="checkbox-field-container">
        <cr-checkbox id="sysInfoCheckbox" aria-labelledby="sysInfoCheckboxLabel" checked>
        </cr-checkbox>
        <label id="sysInfoCheckboxLabel" inner-h-t-m-l="[[sysInfoCheckboxLabel_]]"></label>
      </div>
      <!-- Bluetooth Logs (Googler Internal Only) -->
      <div id="bluetoothCheckboxContainer" class="checkbox-field-container"
          hidden="[[!shouldShowBluetoothCheckbox]]">
        <cr-checkbox id="bluetoothLogsCheckbox" aria-labelledby="bluetoothInfoLabel" checked>
        </cr-checkbox>
        <label id="bluetoothInfoLabel" inner-h-t-m-l="[[bluetoothLogsCheckboxLabel_]]"></label>
      </div>
    </div>
    <!-- Privacy note -->
    <div id="privacyNote" inner-h-t-m-l="[[privacyNote_]]"></div>
  </div>
  <div id="navButtons">
    <cr-button id="buttonBack" class="cancel-button"
        on-click="handleBackButtonClicked_">
      [[i18n('backButtonLabel')]]
    </cr-button>
    <cr-button id="buttonSend" class="action-button"
        on-click="handleSendButtonClicked_">
        [[i18n('sendButtonLabel')]]
    </cr-button>
  </div>
</div>
<dialog id="screenshotDialog">
  <div id="toolbar" class="dialog-toolbar">
    <cr-button id="closeDialogButton"
        title="[[i18n('attachScreenshotLabel')]]"
        on-click="handleScreenshotDialogCloseClick_">
      <iron-icon id="backArrow" icon="cr:arrow-back"></iron-icon>
    </cr-button>
    <div id="dialogTitle">[[i18n('attachScreenshotLabel')]]</div>
  </div>
  <div id="mainPanel" class="dialog-main-panel">
    <div id="innerContentPanel" class="dialog-content-panel">
      <img src="[[screenshotUrl]]" class="image-preview">
    </div> 
  </div>
</dialog>