<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/cr_elements/md_select.css.html">

<link rel="import" href="./oobe_select.html">

<dom-module id="oobe-i18n-dropdown">
  <template>
    <style include="md-select">
      :host {
        font-size: var(--oobe-select-font-size);
        line-height: var(--oobe-select-line-height);
        --md-select-width: 240px;
      }

      select {
        height: var(--oobe-select-height);
      }
    </style>
    <select id="select" aria-label$="[[labelForAria]]" class="md-select" >
    </select>
  </template>
  <script src="oobe_i18n_dropdown.js"></script>
</dom-module>
