<style include="settings-shared"></style>
<settings-animated-pages id="pages" section="personalization">
  <div route-path="default">
    <template is="dom-if" if="[[isPersonalizationHubEnabled_]]">
      <cr-link-row class="hr" id="personalizationHubButton"
          label="$i18n{personalizationHubTitle}"
          sub-label="$i18n{personalizationHubSubtitle}" external
          on-click="openPersonalizationHub_">
      </cr-link-row>
    </template>
  </div>

</settings-animated-pages>
