/* Copyright 2015 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* Small icons for file statuses, used in lists and menus. */
[file-status-icon] {
  -webkit-mask-image: none;
  -webkit-mask-position: right center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 16px 16px;
}

html[dir='rtl'] [file-status-icon] {
  -webkit-mask-position: left center;
}

[file-status-icon='copied'] {
  -webkit-mask-image: url(../images/files/ui/cloud_import_syncing.svg);
  background-color: currentColor;
}

[file-status-icon='imported'] {
  -webkit-mask-image: url(../images/volumes/service_drive.svg);
  background-color: currentColor;
}
