<!--
Copyright 2015 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->
<style>
  :host {
    background-color: var(--cros-tooltip-background-color);
    color: var(--cros-tooltip-label-color);
    display: flex;
    height: 24px;
    opacity: 0;
    position: absolute;
    transition: opacity 300ms;
    z-index: 1000;
  }

  :host([visible]) {
    opacity: 100%;
  }

  #label {
    align-items: center;
    border-radius: 2px;
    display: inline-flex;
    font-size: 12px;
    padding: 0 8px;
    white-space: nowrap;
  }

  :host(.card-tooltip) {
    background-color: var(--cros-bg-color-elevation-1);
    border-radius: 8px;
    box-shadow: var(--cros-elevation-1-shadow);
    color: var(--cros-text-color-primary);
    height: auto;
    margin-top: 4px;
    padding: 12px 16px;
  }

  #label.link-label {
    align-items: flex-start;
    flex-direction: column;
  }

  #label.card-label {
    line-height: 18px;
    margin: 0;
    max-width: 192px;
    padding: 0;
    white-space: normal;
  }

  #label.card-label a {
    color: var(--cros-link-color);
  }
</style>
<div id="label"></div>
