<style>
  :host {
    --ntp-realbox-border-radius: calc(0.5 * var(--ntp-realbox-height));
    --ntp-realbox-height: 44px;
    --ntp-realbox-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    border-radius: var(--ntp-realbox-border-radius);
    box-shadow: var(--ntp-realbox-shadow);
    font-size: 16px;
    height: var(--ntp-realbox-height);
  }

  :host([is-dark]) {
    --ntp-realbox-shadow: 0 2px 6px 0 rgba(23, 23, 23, 0.32);
  }

  @media (forced-colors: active) {
    :host {
      border: 1px solid ActiveBorder;
    }
  }

  :host([matches-are-visible]) {
    box-shadow: none;
  }

  :host([match-searchbox]) {
    --ntp-realbox-height: 46px;
    box-shadow: none;
  }

  :host([match-searchbox]:not([matches-are-visible]):hover) {
    box-shadow: var(--ntp-realbox-shadow);
  }

  :host([match-searchbox]:not([is-dark]):not([matches-are-visible]):not(:hover)) {
    border: 1px solid var(--color-realbox-border);
    height: calc(var(--ntp-realbox-height) - 2px);
  }

  #inputWrapper {
    height: 100%;
    position: relative;
  }

  input {
    background-color: var(--color-realbox-background);
    border: none;
    border-radius: var(--ntp-realbox-border-radius);
    color: var(--color-realbox-foreground);
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    outline: none;
    padding-inline-end:  44px;
    padding-inline-start: 52px;
    position: relative;
    width: 100%;
  }

  input::-webkit-search-decoration,
  input::-webkit-search-results-button,
  input::-webkit-search-results-decoration {
    display: none;
  }

  /* Visually hide the cancel button but do not set display to none or
   * visibility to hidden as this causes issues with NVDA not reading out the
   * full value of the realbox input as the user selects suggestion matches.
   * See crbug.com/1312442 for more context. */
  input::-webkit-search-cancel-button {
    appearance: none;
    margin: 0;
  }

  input::placeholder {
    color: var(--color-realbox-placeholder);
  }

  input:focus::placeholder {
    /* Visually hide the placeholder on focus. The placeholder will still be
     * read by screen readers. Using color: transparent or other ways of
     * visually hiding the placeholder does not work well with 'Find in page...'
     * as the placeholder text can get highlighted. */
    visibility: hidden;
  }

  input:focus,
  :host([matches-are-visible]) input {
    background-color: var(--color-realbox-results-background);
  }

  input:hover {
    background-color: var(--color-realbox-background-hovered);
  }

  ntp-realbox-icon {
    height: 100%;
    left: 12px;
    position: absolute;
    top: 0;
  }

  :host-context([dir='rtl']) ntp-realbox-icon {
    left: unset;
    right: 12px;
  }

  #voiceSearchButton {
    background: url(icons/googlemic_clr_24px.svg) no-repeat center;
    background-size: 21px 21px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 100%;
    outline: none;
    padding: 0;
    pointer-events: auto;
    position: absolute;
    right: 16px;
    width: 26px;
  }

  :host-context([dir='rtl']) #voiceSearchButton {
    left: 16px;
    right: unset;
  }

  :host-context(.focus-outline-visible) #voiceSearchButton:focus {
    box-shadow: var(--ntp-focus-shadow);
  }

  :-webkit-any(input, ntp-realbox-icon, #voiceSearchButton) {
   z-index: 100;
  }

  ntp-realbox-dropdown {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
  }
</style>
<div id="inputWrapper" on-focusout=onInputWrapperFocusout_
    on-keydown="onInputWrapperKeydown_">
  <input id="input" type="search" autocomplete="off" spellcheck="false"
      aria-live="[[inputAriaLive_]]" role="combobox"
      placeholder="$i18n{searchBoxHint}"
      on-copy="onInputCutCopy_" on-cut="onInputCutCopy_"
      on-focus="onInputFocus_" on-input="onInputInput_"
      on-keydown="onInputKeydown_" on-keyup="onInputKeyup_"
      on-mousedown="onInputMouseDown_" on-paste="onInputPaste_">
  <ntp-realbox-icon id="icon" match="[[selectedMatch_]]"
      default-icon="[[realboxIcon_]]" in-searchbox>
  </ntp-realbox-icon>
  <button id="voiceSearchButton" on-click="onVoiceSearchClick_"
      title="$i18n{voiceSearchButtonLabel}">
  </button>
  <ntp-realbox-dropdown id="matches" role="listbox"
      result="[[result_]]" selected-match-index="{{selectedMatchIndex_}}"
      on-result-repaint="onResultRepaint_" on-match-focusin="onMatchFocusin_"
      on-match-click="onMatchClick_" on-match-remove="onMatchRemove_"
      on-header-focusin="onHeaderFocusin_" hidden$="[[!matchesAreVisible]]">
  </ntp-realbox-dropdown>
</div>
