<style>
  #container {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing);
    padding: 20px;
  }
</style>
<div id="container"></div>
