    <style include="settings-shared">
      :host(.list-frame) settings-toggle-button {
        padding-inline-end: 0;
        padding-inline-start: 0;
      }

      :host(.list-frame) settings-toggle-button:first-of-type {
        border-top: none;
      }

      :host(.list-frame) cr-link-row {
        padding-inline-end: 8px;
        padding-inline-start: 0;
      }
    </style>
<if expr="False">
    <!-- Signout is not supported yet on lacros, https://crbug.com/1217645 -->
    <settings-toggle-button id="signinAllowedToggle"
        class="hr"
        hidden="[[!signinAvailable_]]"
        disabled="[[syncFirstSetupInProgress_]]"
        pref="{{prefs.signin.allowed_on_next_startup}}"
        label="$i18n{signinAllowedTitle}"
        sub-label="$i18n{signinAllowedDescription}"
        on-settings-boolean-control-change="onSigninAllowedChange_"
        no-set-pref>
    </settings-toggle-button>
</if><!-- not chromeos and not lacros -->
    <template is="dom-if" if="[[showSearchSuggestToggle_()]]" restamp>
      <settings-toggle-button id="searchSuggestToggle"
          class="hr"
          pref="{{prefs.search.suggest_enabled}}"
          label="$i18n{searchSuggestPref}"
          sub-label="$i18n{searchSuggestPrefDesc}">
      </settings-toggle-button>
    </template>
<if expr="_google_chrome">
<if expr="chromeos_ash">
    <!-- On ChromeOS OS settings show the toggle for metrics reporting. -->
    <template is="dom-if" if="[[!showMetricsReportingAsLink_()]]" restamp>
      <settings-toggle-button class="hr"
          pref="{{prefs.cros.metrics.reportingEnabled}}"
          label="$i18n{enablePersonalizationLogging}"
          sub-label="$i18n{enablePersonalizationLoggingDesc}">
      </settings-toggle-button>
    </template>

    <!-- Ash Browser settings show a link to the OS settings instead. -->
    <template is="dom-if" if="[[showMetricsReportingAsLink_()]]" restamp>
      <cr-link-row class="hr"
          label="$i18n{enablePersonalizationLogging}"
          sub-label="$i18n{enablePersonalizationLoggingDesc}"
          on-click="onMetricsReportingLinkClick_" external>
      </cr-link-row>
    </template>
</if><!-- chromeos -->
<if expr="not chromeos_ash">
    <settings-toggle-button id="metricsReportingControl"
        class="hr"
        pref="[[metricsReportingPref_]]"
        label="$i18n{enablePersonalizationLogging}"
        sub-label="$i18n{enablePersonalizationLoggingDesc}" no-set-pref
        on-settings-boolean-control-change="onMetricsReportingChange_">
      <template is="dom-if" if="[[showRestart_]]" restamp>
        <cr-button on-click="onRestartTap_" id="restart"
            slot="more-actions">
          $i18n{restart}
        </cr-button>
      </template>
    </settings-toggle-button>
</if><!-- not chromeos -->
</if><!-- _google_chrome -->
<if expr="_google_chrome">
    <settings-toggle-button id="spellCheckControl"
        class="hr"
        pref="{{prefs.spellcheck.use_spelling_service}}"
        on-settings-boolean-control-change="onUseSpellingServiceToggle_"
        label="$i18n{spellingPref}"
        sub-label="$i18n{spellingDescription}"
        hidden="[[!showSpellCheckControlToggle_(prefs.spellcheck.dictionaries)]]">
    </settings-toggle-button>

<if expr="chromeos_ash">
    <!-- On ChromeOS the toggle for spellcheck is shown in the OS settings,
         and Ash Browser settings show a link to the OS settings instead. -->
    <cr-link-row id="spellCheckLink"
        class="hr"
        label="$i18n{spellingPref}"
        sub-label="$i18n{spellingDescription}"
        hidden="[[!showSpellCheckControlLink_(prefs.spellcheck.dictionaries)]]"
        on-click="onUseSpellingServiceLinkClick_" external>
    </cr-link-row>
</if><!-- chromeos -->
</if><!-- _google_chrome -->
    <template is="dom-if" if="[[shouldShowDriveSuggest_(
        syncStatus, syncStatus.signedIn, syncStatus.statusAction)]]" restamp>
      <settings-toggle-button id="driveSuggestControl" class="hr"
          pref="{{prefs.documentsuggest.enabled}}"
          label="$i18n{driveSuggestPref}"
          sub-label="$i18n{driveSuggestPrefDesc}">
      </settings-toggle-button>
    </template>

    <template is="dom-if" if="[[shouldShowAutofillAssistant_]]" restamp>
      <settings-toggle-button id="enableAutofillAssistantToggle"
          class="hr"
          label="$i18n{autofillAssistantPref}"
          sub-label="$i18n{autofillAssistantPrefDesc}"
          pref="{{prefs.autofill_assistant.enabled}}"
          on-settings-boolean-control-change="onEnableAutofillAssistantChange_"
          no-set-pref>
      </settings-toggle-button>
    </template>

    <template is="dom-if" if="[[showPriceEmailNotificationsToggle_(
        syncStatus, syncStatus.signedIn)]]" restamp>
      <settings-toggle-button id="priceEmailNotificationsToggle"
          class="hr"
          label="$i18n{priceEmailNotificationsPref}"
          sub-label="[[getPriceEmailNotificationsPrefDesc_(syncStatus)]]"
          pref="{{prefs.price_tracking.email_notifications_enabled}}">
      </settings-toggle-button>
    </template>

    <template is="dom-if" if="[[showSignoutDialog_]]" restamp>
      <settings-signout-dialog sync-status="[[syncStatus]]"
          on-close="onSignoutDialogClosed_">
      </settings-signout-dialog>
    </template>

<if expr="not chromeos_ash">
    <cr-toast id="toast">
      <div>$i18n{restartToApplyChanges}</div>
      <cr-button on-click="onRestartTap_">$i18n{restart}</cr-button>
    </cr-toast>

    <template is="dom-if" if="[[shouldShowRelaunchDialog]]" restamp>
      <relaunch-confirmation-dialog restart-type="[[restartTypeEnum.RESTART]]"
          on-close="onRelaunchDialogClose"></relaunch-confirmation-dialog>
    </template>
</if>
