    <style include="cr-shared-style settings-shared iron-flex">
      .content-settings-header,
      .radio-group {
        padding: 0 var(--cr-section-padding);
      }

      .radio-group-sub-heading {
        padding-bottom: 10px;
      }

      settings-collapse-radio-button {
        --settings-collapse-toggle-min-height: var(--settings-row-min-height);
      }

      settings-collapse-radio-button.two-line {
        --settings-collapse-toggle-min-height:
            var(--settings-row-two-line-min-height);
      }

      settings-collapse-radio-button:not(:first-of-type) {
        --settings-collapse-separator-line: var(--cr-separator-line);
      }

      settings-privacy-guide-page {
        background-color: var(--cr-card-background-color);
        border-radius: var(--cr-card-border-radius);
        box-shadow: var(--cr-card-shadow);
      }
    </style>
    <template is="dom-if" if="[[showClearBrowsingDataDialog_]]" restamp>
      <settings-clear-browsing-data-dialog prefs="{{prefs}}"
          on-close="onCbdDialogClosed_">
      </settings-clear-browsing-data-dialog>
    </template>
    <template is="dom-if" if="[[showPrivacyGuideDialog_]]" restamp>
      <settings-privacy-guide-dialog id="privacyGuideDialog" prefs="{{prefs}}"
          on-close="onPrivacyGuideDialogClosed_">
      </settings-privacy-guide-dialog>
    </template>
    <settings-animated-pages id="pages" section="privacy"
        focus-config="[[focusConfig_]]">
      <div route-path="default">
        <cr-link-row id="clearBrowsingData"
            start-icon="cr:delete"
            label="$i18n{clearBrowsingData}"
            sub-label="$i18n{clearBrowsingDataDescription}"
            on-click="onClearBrowsingDataTap_"></cr-link-row>
        <cr-link-row id="cookiesLinkRow" start-icon="settings:cookie"
            class="hr" label="$i18n{cookiePageTitle}"
            sub-label="[[cookieSettingDescription_]]"
            on-click="onCookiesClick_"
            role-description="$i18n{subpageArrowRoleDescription}"></cr-link-row>
        <cr-link-row id="securityLinkRow" start-icon="cr:security"
            class="hr" label="$i18n{securityPageTitle}"
            sub-label="$i18n{securityPageDescription}"
            on-click="onSecurityPageClick_"
            role-description="$i18n{subpageArrowRoleDescription}"></cr-link-row>
        <cr-link-row id="permissionsLinkRow" start-icon="settings:permissions"
            class="hr" label="$i18n{siteSettings}"
            sub-label="$i18n{permissionsPageDescription}"
            on-click="onPermissionsPageClick_"
            role-description="$i18n{subpageArrowRoleDescription}"></cr-link-row>
      </div>

<if expr="use_nss_certs">
      <template is="dom-if" route-path="/certificates">
        <settings-subpage
            associated-control="[[$$('#securityLinkRow')]]"
            page-title="$i18n{manageCertificates}">
          <certificate-manager></certificate-manager>
        </settings-subpage>
      </template>
</if>

      <template is="dom-if" if="[[enableSecurityKeysSubpage_]]">
        <template is="dom-if" route-path="/securityKeys">
          <settings-subpage associated-control="[[$$('#securityLinkRow')]]"
              page-title="$i18n{securityKeysTitle}">
            <security-keys-subpage></security-keys-subpage>
          </settings-subpage>
        </template>
      </template>

      <template is="dom-if" route-path="/securityKeys/phones">
        <settings-subpage associated-control="[[$$('#securityLinkRow')]]"
            page-title="$i18n{securityKeysPhonesManage}">
          <security-keys-phones-subpage></security-keys-phones-subpage>
        </settings-subpage>
      </template>

      <template is="dom-if" route-path="/content">
        <settings-subpage
            associated-control="[[$$('#permissionsLinkRow')]]"
            id="site-settings"
            page-title="$i18n{siteSettings}"
            learn-more-url="$i18n{exceptionsLearnMoreURL}">
          <settings-site-settings-page focus-config="[[focusConfig_]]"
              prefs="{{prefs}}">
          </settings-site-settings-page>
        </settings-subpage>
      </template>

      <template is="dom-if" route-path="/security">
        <settings-subpage id="security" page-title="$i18n{securityPageTitle}"
            associated-control="[[$$('#securityLinkRow')]]"
            learn-more-url="$i18n{safeBrowsingHelpCenterURL}">
          <settings-security-page prefs="{{prefs}}"
              focus-config="[[focusConfig_]]">
          </settings-security-page>
        </settings-subpage>
      </template>

      <template is="dom-if" route-path="/content/all" no-search>
        <settings-subpage page-title="$i18n{siteSettingsAllSites}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}"
            preserve-search-term>
          <all-sites filter="[[searchFilter_]]"></all-sites>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/automaticDownloads" no-search>
        <settings-subpage page-title="$i18n{siteSettingsAutomaticDownloads}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <div class="content-settings-header secondary">
              $i18n{siteSettingsAutomaticDownloadsDescription}
          </div>
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.AUTOMATIC_DOWNLOADS]]"
              allow-option-label=
                      "$i18n{siteSettingsAutomaticDownloadsAllowed}"
              allow-option-icon="cr:file-download"
              block-option-label
                  ="$i18n{siteSettingsAutomaticDownloadsBlocked}"
              block-option-icon="settings:file-download-off">
          </settings-category-default-radio-group>
          <category-setting-exceptions
              category="[[contentSettingsTypesEnum_.AUTOMATIC_DOWNLOADS]]"
              allow-header=
                  "$i18n{siteSettingsAutomaticDownloadsAllowedExceptions}"
              block-header=
                  "$i18n{siteSettingsAutomaticDownloadsBlockedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/backgroundSync" no-search>
        <settings-subpage page-title="$i18n{siteSettingsBackgroundSync}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <div class="content-settings-header secondary">
            $i18n{siteSettingsBackgroundSyncDescription}
          </div>
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.BACKGROUND_SYNC]]"
              allow-option-label=
                  "$i18n{siteSettingsBackgroundSyncAllowed}"
              allow-option-icon="cr:sync"
              block-option-label="$i18n{siteSettingsBackgroundSyncBlocked}"
              block-option-sub-label=
                  "$i18n{siteSettingsBackgroundSyncBlockedSubLabel}"
              block-option-icon="settings:sync-off">
          </settings-category-default-radio-group>
          <category-setting-exceptions
              category="[[contentSettingsTypesEnum_.BACKGROUND_SYNC]]"
              allow-header=
                  "$i18n{siteSettingsBackgroundSyncAllowedExceptions}"
              block-header=
                  "$i18n{siteSettingsBackgroundSyncBlockedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/camera" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCategoryCamera}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <media-picker label="$i18n{siteSettingsCameraLabel}" type="camera">
          </media-picker>
          <div class="content-settings-header secondary">
            $i18n{siteSettingsCameraDescription}
          </div>
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.CAMERA]]"
              allow-option-label=
                  "$i18n{siteSettingsCameraAllowed}"
              allow-option-icon="cr:videocam"
              block-option-label="$i18n{siteSettingsCameraBlocked}"
              block-option-sub-label=
                  "$i18n{siteSettingsCameraBlockedSubLabel}"
              block-option-icon="settings:videocam-off">
          </settings-category-default-radio-group>
          <category-setting-exceptions
              category="[[contentSettingsTypesEnum_.CAMERA]]" read-only-list
              allow-header="$i18n{siteSettingsCameraAllowedExceptions}"
              block-header="$i18n{siteSettingsCameraBlockedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" if="[[enablePrivacyGuidePage_]]">
        <template is="dom-if" route-path="/privacy/guide">
          <settings-subpage id="privacy-guide"
              class="multi-card"
              page-title="$i18n{privacyGuideLabel}"
              associated-control="[[$$('#privacyGuideLinkRow')]]">
            <settings-privacy-guide-page id="privacyGuidePage" prefs="{{prefs}}"
                focus-config="[[focusConfig_]]">
            </settings-privacy-guide-page>
          </settings-subpage>
        </template>
      </template>
      <template is="dom-if" route-path="/cookies">
        <settings-subpage id="cookies" page-title="$i18n{cookiePageTitle}"
            learn-more-url="$i18n{cookiesSettingsHelpCenterURL}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}"
            associated-control="[[$$('#cookiesLinkRow')]]">
          <settings-cookies-page prefs="{{prefs}}"
              focus-config="[[focusConfig_]]"
              search-term="[[searchFilter_]]">
          </settings-cookies-page>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/siteData" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCookieHeader}"
            search-label="$i18n{siteSettingsCookieSearch}"
            search-term="{{siteDataFilter_}}"
            preserve-search-term>
          <site-data filter="[[siteDataFilter_]]"
              focus-config="[[focusConfig_]]">
          </site-data>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/images" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCategoryImages}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <div class="content-settings-header secondary">
            $i18n{siteSettingsImagesDescription}
          </div>
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.IMAGES]]"
              allow-option-label="$i18n{siteSettingsImagesAllowed}"
              allow-option-icon="settings:photo"
              block-option-label="$i18n{siteSettingsImagesBlocked}"
              block-option-sub-label=
                  "$i18n{siteSettingsImagesBlockedSubLabel}"
              block-option-icon="settings:photo-off">
          </settings-category-default-radio-group>
          <category-setting-exceptions
              category="[[contentSettingsTypesEnum_.IMAGES]]"
              allow-header="$i18n{siteSettingsImagesAllowedExceptions}"
              block-header="$i18n{siteSettingsImagedBlockedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/insecureContent" no-search>
        <settings-subpage
            page-title="$i18n{siteSettingsCategoryInsecureContent}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <div class="content-settings-header secondary">
            $i18n{siteSettingsInsecureContentDescription}
          </div>
          <div class="cr-row first secondary">
            $i18n{siteSettingsInsecureContentBlock}
          </div>
          <category-setting-exceptions
              category="[[contentSettingsTypesEnum_.MIXEDSCRIPT]]"
              allow-header=
                  "$i18n{siteSettingsInsecureContentAllowedExceptions}"
              block-header=
                  "$i18n{siteSettingsInsecureContentBlockedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" if="[[enableFederatedIdentityApiContentSetting_]]">
        <template is="dom-if" route-path="/content/federatedIdentityApi"
            no-search>
          <settings-subpage
              page-title="$i18n{siteSettingsCategoryFederatedIdentityApi}"
              search-label="$i18n{siteSettingsAllSitesSearch}"
              search-term="{{searchFilter_}}">
            <div class="content-settings-header secondary">
              $i18n{siteSettingsFederatedIdentityApiDescription}
            </div>
            <settings-category-default-radio-group
                category="[[contentSettingsTypesEnum_.FEDERATED_IDENTITY_API]]"
                allow-option-label=
                    "$i18n{siteSettingsFederatedIdentityApiAllowed}"
                allow-option-icon="settings:federated-identity-api"
                block-option-label=
                    "$i18n{siteSettingsFederatedIdentityApiBlocked}"
                block-option-icon="settings:federated-identity-api-off">
            </settings-category-default-radio-group>
            <category-setting-exceptions
                category="[[contentSettingsTypesEnum_.FEDERATED_IDENTITY_API]]"
                allow-header=
                    "$i18n{siteSettingsFederatedIdentityApiAllowedExceptions}"
                block-header=
                    "$i18n{siteSettingsFederatedIdentityApiBlockedExceptions}"
                search-filter="[[searchFilter_]]">
            </category-setting-exceptions>
          </settings-subpage>
        </template>
      </template>
      <template is="dom-if" route-path="/content/location" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCategoryLocation}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <div class="content-settings-header secondary">
            $i18n{siteSettingsLocationDescription}
          </div>
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.GEOLOCATION]]"
              allow-option-label=
                  "$i18n{siteSettingsLocationAllowed}"
              allow-option-icon="settings:location-on"
              block-option-label="$i18n{siteSettingsLocationBlocked}"
              block-option-sub-label=
                  "$i18n{siteSettingsLocationBlockedSubLabel}"
              block-option-icon="settings:location-off">
          </settings-category-default-radio-group>
          <category-setting-exceptions
              category="[[contentSettingsTypesEnum_.GEOLOCATION]]"
              read-only-list
              allow-header="$i18n{siteSettingsLocationAllowedExceptions}"
              block-header="$i18n{siteSettingsLocationBlockedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/handlers" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCategoryHandlers}">
          <protocol-handlers
              toggle-off-label="$i18n{siteSettingsHandlersBlocked}"
              toggle-on-label="$i18n{siteSettingsHandlersAskRecommended}">
          </protocol-handlers>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/zoomLevels" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCategoryZoomLevels}">
          <div class="content-settings-header secondary">
            $i18n{siteSettingsZoomLevelsDescription}
          </div>
          <zoom-levels></zoom-levels>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/pdfDocuments" no-search>
        <settings-subpage page-title="$i18n{siteSettingsPdfDocuments}">
          <div class="radio-group">
            <div class="secondary">$i18n{siteSettingsPdfsDescription}</div>
            <h2>$i18n{siteSettingsDefaultBehavior}</h2>
            <div class="secondary radio-sub-heading">
              $i18n{siteSettingsDefaultBehaviorDescription}
            </div>
            <settings-radio-group
                pref="{{prefs.plugins.always_open_pdf_externally}}"
                selectable-elements="settings-collapse-radio-button">
              <settings-collapse-radio-button no-collapse
                  pref="[[prefs.plugins.always_open_pdf_externally]]"
                  label="$i18n{siteSettingsPdfsAllowed}"
                  name="true"
                  disabled$="[[isGuest_]]"
                  icon="cr:file-download">
              </settings-collapse-radio-button>
              <settings-collapse-radio-button no-collapse
                  pref="[[prefs.plugins.always_open_pdf_externally]]"
                  label="$i18n{siteSettingsPdfsBlocked}"
                  name="false"
                  disabled$="[[isGuest_]]"
                  icon="settings:open-in-browser">
              </settings-collapse-radio-button>
            </settings-radio-group>
          </div>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/javascript" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCategoryJavascript}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <div class="content-settings-header secondary">
            $i18n{siteSettingsJavascriptDescription}
          </div>
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.JAVASCRIPT]]"
              allow-option-label="$i18n{siteSettingsJavascriptAllowed}"
              allow-option-icon="settings:code"
              block-option-label="$i18n{siteSettingsJavascriptBlocked}"
              block-option-icon="settings:code-off">
          </settings-category-default-radio-group>
          <category-setting-exceptions
              category="[[contentSettingsTypesEnum_.JAVASCRIPT]]"
              allow-header="$i18n{siteSettingsJavascriptAllowedExceptions}"
              block-header="$i18n{siteSettingsJavascriptBlockedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/sound" no-search>
        <settings-subpage page-title="$i18n{siteSettingsSound}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <div class="content-settings-header secondary">
            $i18n{siteSettingsSoundDescription}
          </div>
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.SOUND]]"
              allow-option-label="$i18n{siteSettingsSoundAllowed}"
              allow-option-icon="settings:volume-up"
              block-option-label="$i18n{siteSettingsSoundBlocked}"
              block-option-sub-label="$i18n{siteSettingsSoundBlockedSubLabel}"
              block-option-icon="settings:volume-up-off">
          </settings-category-default-radio-group>
          <settings-toggle-button
              id="block-autoplay-setting"
              class="hr"
              label="$i18n{siteSettingsBlockAutoplaySetting}"
              pref="{{blockAutoplayStatus_.pref}}"
              disabled="[[!blockAutoplayStatus_.enabled]]"
              hidden="[[!enableBlockAutoplayContentSetting_]]"
              on-settings-boolean-control-change="onBlockAutoplayToggleChange_"
              no-set-pref>
          </settings-toggle-button>
          <category-setting-exceptions
              category="[[contentSettingsTypesEnum_.SOUND]]"
              allow-header="$i18n{siteSettingsSoundAllowedExceptions}"
              block-header="$i18n{siteSettingsSoundBlockedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/microphone" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCategoryMicrophone}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <media-picker label="$i18n{siteSettingsMicrophoneLabel}" type="mic">
          </media-picker>
          <div class="content-settings-header secondary">
            $i18n{siteSettingsMicDescription}
          </div>
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.MIC]]"
              allow-option-label=
                  "$i18n{siteSettingsMicAllowed}"
              allow-option-icon="cr:mic"
              block-option-label="$i18n{siteSettingsMicBlocked}"
              block-option-sub-label="$i18n{siteSettingsMicBlockedSubLabel}"
              block-option-icon="settings:mic-off">
          </settings-category-default-radio-group>
          <category-setting-exceptions
              category="[[contentSettingsTypesEnum_.MIC]]" read-only-list
              allow-header="$i18n{siteSettingsMicAllowedExceptions}"
              block-header="$i18n{siteSettingsMicBlockedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/sensors" no-search>
        <settings-subpage page-title="$i18n{siteSettingsSensors}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <div class="content-settings-header secondary">
            $i18n{siteSettingsMotionSensorsDescription}
          </div>
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.SENSORS]]"
              allow-option-label="$i18n{siteSettingsMotionSensorsAllowed}"
              allow-option-icon="settings:sensors"
              block-option-label="$i18n{siteSettingsMotionSensorsBlocked}"
              block-option-sub-label=
                  "$i18n{siteSettingsMotionSensorsBlockedSubLabel}"
              block-option-icon="settings:sensors-off">
          </settings-category-default-radio-group>
          <category-setting-exceptions
              category="[[contentSettingsTypesEnum_.SENSORS]]" read-only-list
              allow-header="$i18n{siteSettingsMotionSensorsAllowedExceptions}"
              block-header="$i18n{siteSettingsMotionSensorsBlockedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
     </template>
      <template is="dom-if" route-path="/content/notifications" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCategoryNotifications}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <div id="notificationRadioGroup" class="radio-group">
            <div class="secondary">
              $i18n{siteSettingsNotificationsDescription}
            </div>
            <template is="dom-if" if="[[safetyCheckPermissionsEnabled_]]">
              <review-notification-permissions>
              </review-notification-permissions>
            </template>
            <h2>$i18n{siteSettingsDefaultBehavior}</h2>
            <div id="notificationSubHeading"
              class="secondary radio-sub-heading">
              $i18n{siteSettingsDefaultBehaviorDescription}
            </div>
            <settings-radio-group
                pref="{{prefs.generated.notification}}"
                selectable-elements="settings-collapse-radio-button">
              <settings-collapse-radio-button no-collapse
                  name="[[notificationSettingEnum_.ASK]]"
                  pref="[[prefs.generated.notification]]"
                  label="$i18n{siteSettingsNotificationsAllowed}"
                  icon="settings:notifications">
              </settings-collapse-radio-button>
              <template is="dom-if"
                  if="[[enableQuietNotificationPromptsSetting_]]">
                <settings-collapse-radio-button no-collapse class="two-line"
                    name="[[notificationSettingEnum_.QUIETER_MESSAGING]]"
                    pref="[[prefs.generated.notification]]"
                    label="$i18n{siteSettingsNotificationsPartial}"
                    sub-label=
                        "$i18n{siteSettingsNotificationsPartialSubLabel}"
                    icon="settings:notifications">
                </settings-collapse-radio-button>
              </template>
              <settings-collapse-radio-button no-collapse class="two-line"
                  name="[[notificationSettingEnum_.BLOCK]]"
                  pref="[[prefs.generated.notification]]"
                  label="$i18n{siteSettingsNotificationsBlocked}"
                  sub-label="$i18n{siteSettingsNotificationsBlockedSubLabel}"
                  icon="settings:notifications-off">
              </settings-collapse-radio-button>
            </settings-radio-group>
          </div>
          <category-setting-exceptions
              category="[[contentSettingsTypesEnum_.NOTIFICATIONS]]"
              allow-header="$i18n{siteSettingsNotificationsAllowedExceptions}"
              block-header="$i18n{siteSettingsNotificationsBlockedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/popups" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCategoryPopups}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <div class="content-settings-header secondary">
            $i18n{siteSettingsPopupsDescription}
          </div>
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.POPUPS]]"
              allow-option-label="$i18n{siteSettingsPopupsAllowed}"
              allow-option-icon="cr:open-in-new"
              block-option-label="$i18n{siteSettingsPopupsBlocked}"
              block-option-icon="settings:open-in-new-off">
          </settings-category-default-radio-group>
          <category-setting-exceptions
              category="[[contentSettingsTypesEnum_.POPUPS]]"
              allow-header="$i18n{siteSettingsPopupsAllowedExceptions}"
              block-header="$i18n{siteSettingsPopupsBlockedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" if="[[false]]"
          no-search>
        <template is="dom-if" route-path="/content/ads" no-search>
          <settings-subpage page-title="$i18n{siteSettingsAds}"
              search-label="$i18n{siteSettingsAllSitesSearch}"
              search-term="{{searchFilter_}}">
            <div class="content-settings-header secondary">
              $i18n{siteSettingsAdsDescription}
            </div>
            <settings-category-default-radio-group
                category="[[contentSettingsTypesEnum_.ADS]]"
                allow-option-label="$i18n{siteSettingsAdsAllowed}"
                allow-option-icon="settings:ads"
                block-option-label="$i18n{siteSettingsAdsBlocked}"
                block-option-icon="settings:ads-off">
            </settings-category-default-radio-group>
            <category-setting-exceptions
                category="[[contentSettingsTypesEnum_.ADS]]"
                read-only-list
                allow-header="$i18n{siteSettingsAdsAllowedExceptions}"
                block-header="$i18n{siteSettingsAdsBlockedExceptions}"
                search-filter="[[searchFilter_]]">
            </category-setting-exceptions>
          </settings-subpage>
       </template>
     </template>
      <template is="dom-if" route-path="/content/midiDevices" no-search>
        <settings-subpage page-title="$i18n{siteSettingsMidiDevices}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <div class="content-settings-header secondary">
            $i18n{siteSettingsMidiDescription}
          </div>
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.MIDI_DEVICES]]"
              allow-option-label=
                  "$i18n{siteSettingsMidiAllowed}"
              allow-option-icon="settings:midi"
              block-option-label="$i18n{siteSettingsMidiBlocked}"
              block-option-icon="settings:midi-off">
          </settings-category-default-radio-group>
          <category-setting-exceptions
              category="[[contentSettingsTypesEnum_.MIDI_DEVICES]]"
              read-only-list
              allow-header="$i18n{siteSettingsMidiAllowedExceptions}"
              block-header="$i18n{siteSettingsMidiBlockedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/usbDevices" no-search>
        <settings-subpage page-title="$i18n{siteSettingsUsbDevices}">
          <div class="content-settings-header secondary">
            $i18n{siteSettingsUsbDescription}
          </div>
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.USB_DEVICES]]"
              allow-option-label="$i18n{siteSettingsUsbAllowed}"
              allow-option-icon="settings:usb"
              block-option-label="$i18n{siteSettingsUsbBlocked}"
              block-option-icon="settings:usb-off">
          </settings-category-default-radio-group>
          <chooser-exception-list
              category="[[contentSettingsTypesEnum_.USB_DEVICES]]"
              chooser-type="[[chooserTypeEnum_.USB_DEVICES]]">
          </chooser-exception-list>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/serialPorts" no-search>
        <settings-subpage page-title="$i18n{siteSettingsSerialPorts}">
          <div class="content-settings-header secondary">
            $i18n{siteSettingsSerialPortsDescription}
          </div>
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.SERIAL_PORTS]]"
              allow-option-label=
                  "$i18n{siteSettingsSerialPortsAllowed}"
              allow-option-icon="settings:serial-port"
              block-option-label="$i18n{siteSettingsSerialPortsBlocked}"
              block-option-icon="settings:serial-port-off">
          </settings-category-default-radio-group>
          <chooser-exception-list
              category="[[contentSettingsTypesEnum_.SERIAL_PORTS]]"
              chooser-type="[[chooserTypeEnum_.SERIAL_PORTS]]">
          </chooser-exception-list>
        </settings-subpage>
      </template>
      <template is="dom-if" if="[[enableWebBluetoothNewPermissionsBackend_]]">
        <template is="dom-if" route-path="/content/bluetoothDevices" no-search>
          <settings-subpage page-title="$i18n{siteSettingsBluetoothDevices}">
              <div class="content-settings-header secondary">
                $i18n{siteSettingsBluetoothDevicesDescription}
              </div>
              <settings-category-default-radio-group
                    category="[[contentSettingsTypesEnum_.BLUETOOTH_DEVICES]]"
                    allow-option-label=
                        "$i18n{siteSettingsBluetoothDevicesAllowed}"
                    allow-option-icon="settings:bluetooth"
                    block-option-label=
                        "$i18n{siteSettingsBluetoothDevicesBlocked}"
                    block-option-icon="settings:bluetooth-off">
            </settings-category-default-radio-group>
            <chooser-exception-list
                category="[[contentSettingsTypesEnum_.BLUETOOTH_DEVICES]]"
                chooser-type="[[chooserTypeEnum_.BLUETOOTH_DEVICES]]">
            </chooser-exception-list>
          </settings-subpage>
        </template>
      </template>
      <template is="dom-if" route-path="/content/filesystem" no-search>
        <settings-subpage
            page-title="$i18n{siteSettingsFileSystemWrite}">
          <div class="content-settings-header secondary">
            $i18n{siteSettingsFileSystemWriteDescription}
          </div>
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.FILE_SYSTEM_WRITE]]"
              allow-option-label=
                  "$i18n{siteSettingsFileSystemWriteAllowed}"
              allow-option-icon="settings:save-original"
              block-option-label=
                  "$i18n{siteSettingsFileSystemWriteBlocked}"
              block-option-icon="settings:file-editing-off">
          </settings-category-default-radio-group>
          <category-setting-exceptions
              category="[[contentSettingsTypesEnum_.FILE_SYSTEM_WRITE]]"
              read-only-list
              block-header=
                  "$i18n{siteSettingsFileSystemWriteBlockedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/hidDevices" no-search>
        <settings-subpage page-title="$i18n{siteSettingsHidDevices}">
          <div class="content-settings-header secondary">
            $i18n{siteSettingsHidDevicesDescription}
          </div>
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.HID_DEVICES]]"
              allow-option-label=
                  "$i18n{siteSettingsHidDevicesAllowed}"
              allow-option-icon="settings:hid-device"
              block-option-label=
                  "$i18n{siteSettingsHidDevicesBlocked}"
              block-option-icon="settings:hid-device-off">
          </settings-category-default-radio-group>
          <chooser-exception-list
              category="[[contentSettingsTypesEnum_.HID_DEVICES]]"
              chooser-type="[[chooserTypeEnum_.HID_DEVICES]]">
          </chooser-exception-list>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/siteDetails" no-search>
        <settings-subpage page-title="[[pageTitle]]">
          <site-details
            page-title="{{pageTitle}}"
            block-autoplay-enabled="[[blockAutoplayStatus_.pref.value]]">
          </site-details>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/cookies/detail" no-search>
        <settings-subpage page-title="[[pageTitle]]">
          <cr-button slot="subpage-title-extra"
              on-click="onRemoveAllCookiesFromSite_">
            $i18n{siteSettingsCookieRemoveAll}
          </cr-button>
          <site-data-details-subpage page-title="{{pageTitle}}">
          </site-data-details-subpage>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/protectedContent" no-search>
<if expr="not chromeos_ash and not chromeos_lacros and not is_win">
        <settings-subpage page-title="$i18n{siteSettingsProtectedContent}">
</if>
<if expr="is_chromeos or is_win">
        <settings-subpage page-title="$i18n{siteSettingsProtectedContent}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
</if>
          <div class="radio-group">
            <div class="secondary">
              $i18n{siteSettingsProtectedContentDescription}
            </div>
            <h2>$i18n{siteSettingsDefaultBehavior}</h2>
            <div class="secondary radio-sub-heading">
              $i18n{siteSettingsDefaultBehaviorDescription}
            </div>
            <settings-radio-group
              pref="{{prefs.webkit.webprefs.encrypted_media_enabled}}"
              selectable-elements="settings-collapse-radio-button">
              <settings-collapse-radio-button no-collapse
                  pref="[[prefs.webkit.webprefs.encrypted_media_enabled]]"
                  label="$i18n{siteSettingsProtectedContentAllowed}"
                  name="true"
                  disabled$="[[isGuest_]]"
                  icon="settings:protected-content">
              </settings-collapse-radio-button>
              <settings-collapse-radio-button no-collapse
                  pref="[[prefs.webkit.webprefs.encrypted_media_enabled]]"
                  label="$i18n{siteSettingsProtectedContentBlocked}"
                  sub-label=
                      "$i18n{siteSettingsProtectedContentBlockedSubLabel}"
                  name="false"
                  disabled$="[[isGuest_]]"
                  icon="settings:protected-content-off">
              </settings-collapse-radio-button>
            </settings-radio-group>
          </div>
<if expr="is_chromeos or is_win">
          <settings-category-default-radio-group
            header="$i18n{siteSettingsProtectedContentIdentifiers}"
            description=
                "$i18n{siteSettingsProtectedContentIdentifiersExplanation}"
            category="[[contentSettingsTypesEnum_.PROTECTED_CONTENT]]"
            block-option-label=
                "$i18n{siteSettingsProtectedContentIdentifiersBlocked}"
            block-option-sub-label=
                "$i18n{siteSettingsProtectedContentIdentifiersBlockedSubLabel}"
            block-option-icon="settings:protected-content-off"
            allow-option-label=
                "$i18n{siteSettingsProtectedContentIdentifiersAllowed}"
<if expr="is_win and _google_chrome">
            allow-option-sub-label=
                "$i18n{siteSettingsProtectedContentIdentifiersAllowedSubLabel}"
</if>
            allow-option-icon="settings:protected-content"
            disabled$="[[isGuest_]]">
          </settings-category-default-radio-group>
          <category-setting-exceptions
              description=
                  "$i18n{siteSettingsCustomizedBehaviorsDescriptionShort}"
              category="[[contentSettingsTypesEnum_.PROTECTED_CONTENT]]"
              allow-header=
                  "$i18n{siteSettingsProtectedContentIdentifiersAllowedExceptions}"
              block-header=
                  "$i18n{siteSettingsProtectedContentIdentifiersBlockedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
</if>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/clipboard" no-search>
        <settings-subpage page-title="$i18n{siteSettingsClipboard}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <div class="content-settings-header secondary">
            $i18n{siteSettingsClipboardDescription}
          </div>
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.CLIPBOARD]]"
              allow-option-label="$i18n{siteSettingsClipboardAllowed}"
              allow-option-icon="settings:clipboard"
              block-option-label="$i18n{siteSettingsClipboardBlocked}"
              block-option-icon="settings:clipboard-off">
          </settings-category-default-radio-group>
          <category-setting-exceptions
              category="[[contentSettingsTypesEnum_.CLIPBOARD]]"
              allow-header="$i18n{siteSettingsClipboardAllowedExceptions}"
              block-header="$i18n{siteSettingsClipboardBlockedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" if="[[enablePaymentHandlerContentSetting_]]">
        <template is="dom-if" route-path="/content/paymentHandler" no-search>
          <settings-subpage page-title="$i18n{siteSettingsPaymentHandler}"
              search-label="$i18n{siteSettingsAllSitesSearch}"
              search-term="{{searchFilter_}}">
            <div class="content-settings-header secondary">
              $i18n{siteSettingsPaymentHandlersDescription}
            </div>
            <settings-category-default-radio-group
                category="[[contentSettingsTypesEnum_.PAYMENT_HANDLER]]"
                allow-option-label=
                    "$i18n{siteSettingsPaymentHandlersAllowed}"
                allow-option-icon="settings:payment-handler"
                block-option-label="$i18n{siteSettingsPaymentHandlersBlocked}"
                block-option-icon="settings:payment-handler-off">
            </settings-category-default-radio-group>
            <category-setting-exceptions
                category="[[contentSettingsTypesEnum_.PAYMENT_HANDLER]]"
                allow-header=
                    "$i18n{siteSettingsPaymentHandlersAllowedExceptions}"
                block-header=
                    "$i18n{siteSettingsPaymentHandlersBlockedExceptions}"
                search-filter="[[searchFilter_]]">
            </category-setting-exceptions>
          </settings-subpage>
       </template>
      </template>
      <template is="dom-if" if="[[enableExperimentalWebPlatformFeatures_]]">
        <template is="dom-if" route-path="/content/bluetoothScanning" no-search>
          <settings-subpage page-title="$i18n{siteSettingsBluetoothScanning}"
              search-label="$i18n{siteSettingsAllSitesSearch}"
              search-term="{{searchFilter_}}">
            <category-default-setting
                toggle-off-label="$i18n{siteSettingsBluetoothScanningBlock}"
                toggle-on-label=
                    "$i18n{siteSettingsBluetoothScanningAskRecommended}"
                category="[[contentSettingsTypesEnum_.BLUETOOTH_SCANNING]]">
            </category-default-setting>
            <category-setting-exceptions
                category="[[contentSettingsTypesEnum_.BLUETOOTH_SCANNING]]"
                read-only-list
                block-header="$i18n{siteSettingsBlock}"
                allow-header="$i18n{siteSettingsAllow}"
                search-filter="[[searchFilter_]]">
            </category-setting-exceptions>
          </settings-subpage>
        </template>
      </template>
      <template is="dom-if" route-path="/content/vr" no-search>
        <settings-subpage page-title="$i18n{siteSettingsVr}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <div class="content-settings-header secondary">
            $i18n{siteSettingsVrDescription}
          </div>
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.VR]]"
              allow-option-label="$i18n{siteSettingsVrAllowed}"
              allow-option-icon="settings:vr-headset"
              block-option-label="$i18n{siteSettingsVrBlocked}"
              block-option-icon="settings:vr-headset-off">
          </settings-category-default-radio-group>
          <category-setting-exceptions
              category="[[contentSettingsTypesEnum_.VR]]"
              read-only-list
              allow-header="$i18n{siteSettingsVrAllowedExceptions}"
              block-header="$i18n{siteSettingsVrBlockedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/ar" no-search>
        <settings-subpage page-title="$i18n{siteSettingsAr}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <div class="content-settings-header secondary">
            $i18n{siteSettingsArDescription}
          </div>
          <!-- TODO(crbug.com/1196900): Fix redesign string when available.-->
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.AR]]"
              allow-option-label="$i18n{siteSettingsArAsk}"
              allow-option-icon="settings:vr-headset"
              block-option-label="$i18n{siteSettingsArBlock}"
              block-option-icon="settings:vr-headset-off">
          </settings-category-default-radio-group>
          <category-setting-exceptions
              category="[[contentSettingsTypesEnum_.AR]]"
              read-only-list
              allow-header="$i18n{siteSettingsArAllowedExceptions}"
              block-header="$i18n{siteSettingsArBlockedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/idleDetection" no-search>
        <settings-subpage page-title="$i18n{siteSettingsIdleDetection}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <div class="content-settings-header secondary">
            $i18n{siteSettingsDeviceUseDescription}
          </div>
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.IDLE_DETECTION]]"
              allow-option-label="$i18n{siteSettingsDeviceUseAllowed}"
              allow-option-icon="settings:devices"
              block-option-label="$i18n{siteSettingsDeviceUseBlocked}"
              block-option-icon="settings:devices-off">
          </settings-category-default-radio-group>
          <category-setting-exceptions
              category="[[contentSettingsTypesEnum_.IDLE_DETECTION]]"
              allow-header="$i18n{siteSettingsDeviceUseAllowedExceptions}"
              block-header="$i18n{siteSettingsDeviceUseBlockedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/windowPlacement" no-search>
        <settings-subpage page-title="$i18n{siteSettingsWindowPlacement}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <div class="content-settings-header secondary">
            $i18n{siteSettingsWindowPlacementDescription}
          </div>
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.WINDOW_PLACEMENT]]"
              allow-option-label="$i18n{siteSettingsWindowPlacementAsk}"
              allow-option-icon="settings:window-placement"
              block-option-label="$i18n{siteSettingsWindowPlacementBlocked}"
              block-option-icon="settings:window-placement-off">
          </settings-category-default-radio-group>
          <category-setting-exceptions
              category="[[contentSettingsTypesEnum_.WINDOW_PLACEMENT]]"
              allow-header="$i18n{siteSettingsWindowPlacementAskExceptions}"
              block-header="$i18n{siteSettingsWindowPlacementBlockedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/localFonts" no-search>
        <settings-subpage page-title="$i18n{fonts}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <div class="content-settings-header secondary">
            $i18n{siteSettingsFontsDescription}
          </div>
          <settings-category-default-radio-group
              category="[[contentSettingsTypesEnum_.LOCAL_FONTS]]"
              allow-option-label="$i18n{siteSettingsFontsAllowed}"
              allow-option-icon="settings:local-fonts"
              block-option-label="$i18n{siteSettingsFontsBlocked}"
              block-option-icon="settings:local-fonts-off">
          </settings-category-default-radio-group>
          <category-setting-exceptions
              category="[[contentSettingsTypesEnum_.LOCAL_FONTS]]"
              block-header="$i18n{siteSettingsFontsBlockedExceptions}"
              allow-header="$i18n{siteSettingsFontsAllowedExceptions}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
    </settings-animated-pages>
