<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>cr-button demo</title>
    <link rel="stylesheet" href="demo.css">
    <style>
      cr-button[circle-ripple] {
        height: 60px;
        width: 60px;
      }

      cr-expand-button {
        padding: 0 12px;
      }
    </style>
  </head>
  <body>
    <h1>cr-button</h1>
    <div class="demos">
      <cr-button>Primary button</cr-button>
      <cr-button class="action-button">Action button</cr-button>
      <cr-button disabled>Disabled primary button</cr-button>
      <cr-button disabled class="action-button">
        Disabled action button
      </cr-button>
      <div class="flex">
        <cr-button class="cancel-button">Cancel</cr-button>
        <cr-button class="action-button">Confirm</cr-button>
      </div>
      <div class="row">
        <cr-button circle-ripple>1</cr-button>
        <cr-button circle-ripple>2</cr-button>
        <cr-button circle-ripple>3</cr-button>
      </div>
    </div>

    <h1>cr-icon-button</h1>
    <div class="demos">
      <div class="row">
        <cr-icon-button iron-icon="cr:delete"></cr-icon-button>
        <cr-icon-button iron-icon="cr:delete" disabled></cr-icon-button>
      </div>
    </div>

    <dom-bind>
      <template>
        <h1>cr-expand-button</h1>
        <div class="demos">
          <cr-expand-button expanded="{{expanded_}}"
              expand-title="Expand" collapse-title="Collapse">
            <div hidden$="[[expanded_]]">Expand row</div>
            <div hidden$="[[!expanded_]]">Collapse row</div>
          </cr-expand-button>
          <iron-collapse opened="[[expanded_]]">
            Some content goes here.
          </iron-collapse>

          <cr-expand-button expand-icon="cr:arrow-drop-down"
              collapse-icon="cr:arrow-drop-up">
            With custom icons
          </cr-expand-button>
          <cr-expand-button no-hover>
            With no hover effect on entire row
          </cr-expand-button>
        </div>
      </template>
    </dom-bind>

    <script src="chrome://resources/polymer/v3_0/iron-collapse/iron-collapse.js"
        type="module"></script>
    <script src="chrome://resources/cr_elements/icons.html.js" type="module">
    </script>
    <script
        src="chrome://resources/cr_elements/cr_expand_button/cr_expand_button.js"
        type="module"></script>
    <script src="chrome://resources/cr_elements/cr_icon_button/cr_icon_button.js"
        type="module"></script>
    <script src="chrome://resources/cr_elements/cr_button/cr_button.js"
        type="module"></script>
  </body>
</html>
