/* Copyright 2022 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

@import 'chrome://resources/css/text_defaults_md.css';

body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 16px;
  width: 100%;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-block-end: 16px;
}

h2 {
  font-size: 1.2em;
  margin-block-end: 12px;
  margin-block-start: 16px;
}

.demos {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.row {
  display: flex;
  gap: 16px;
}

.row.center {
  align-items: center;
}

.flex {
  display: flex;
}
