    <style include="cr-shared-style settings-page-styles cr-hidden-style iron-flex">
      :host([is-subpage-animating]) {
        /* Prevent an unwanted horizontal scrollbar when transitioning back from
         * a sub-page. */
        overflow: hidden;
      }

      :host(:not([in-search-mode])) settings-section:not([active]) {
        display: none;
      }
    </style>
    <template is="dom-if" if="[[showBasicPage_(
        currentRoute_, inSearchMode, hasExpandedSection_)]]">
      <div id="basicPage">
        <template is="dom-if" if="[[showResetProfileBanner_]]" restamp>
          <settings-reset-profile-banner on-close="onResetProfileBannerClosed_">
          </settings-reset-profile-banner>
        </template>
        <template is="dom-if" if="[[showPage_(pageVisibility.people)]]" restamp>
          <settings-section page-title="$i18n{peoplePageTitle}"
              section="people">
            <settings-people-page prefs="{{prefs}}"
                page-visibility="[[pageVisibility]]">
            </settings-people-page>
          </settings-section>
        </template>
        <template is="dom-if" if="[[showPage_(pageVisibility.autofill)]]"
            restamp>
          <settings-section page-title="$i18n{autofillPageTitle}"
              section="autofill">
            <settings-autofill-page prefs="{{prefs}}"></settings-autofill-page>
          </settings-section>
        </template>
        <settings-section id="privacyGuidePromoSection" page-title=""
            hidden$="[[!showPrivacyGuidePromo_]]" nest-under-section="privacy"
            no-search>
          <settings-privacy-guide-promo id="privacyGuidePromo"
              prefs="{{prefs}}">
          </settings-privacy-guide-promo>
        </settings-section>
        <template is="dom-if" if="[[false]]"
            restamp>
          <settings-section page-title="$i18n{safetyCheckSectionTitle}"
              section="safetyCheck" nest-under-section="privacy"
              id="safetyCheckSettingsSection">
            <settings-safety-check-page prefs="{{prefs}}">
            </settings-safety-check-page>
          </settings-section>
        </template>
        <template is="dom-if" if="[[showPage_(pageVisibility.privacy)]]"
            restamp>
          <settings-section page-title="$i18n{privacyPageTitle}"
              section="privacy">
            <settings-privacy-page prefs="{{prefs}}"
                page-visibility="[[pageVisibility.privacy]]">
            </settings-privacy-page>
          </settings-section>
        </template>
        <template is="dom-if" if="[[showPage_(pageVisibility.appearance)]]"
            restamp>
          <settings-section page-title="$i18n{appearancePageTitle}"
              section="appearance">
            <settings-appearance-page prefs="{{prefs}}"
                page-visibility="[[pageVisibility.appearance]]">
            </settings-appearance-page>
          </settings-section>
        </template>
        <settings-section page-title="$i18n{searchPageTitle}"
            section="search">
          <settings-search-page prefs="{{prefs}}"></settings-search-page>
        </settings-section>
<if expr="not is_chromeos">
        <template is="dom-if" if="[[showPage_(pageVisibility.defaultBrowser)]]"
            restamp>
          <settings-section page-title="$i18n{defaultBrowser}"
              section="defaultBrowser">
            <settings-default-browser-page></settings-default-browser-page>
          </settings-section>
        </template>
</if>
        <template is="dom-if" if="[[showPage_(pageVisibility.onStartup)]]"
            restamp>
          <settings-section page-title="$i18n{onStartup}" section="onStartup">
            <settings-on-startup-page prefs="{{prefs}}">
            </settings-on-startup-page>
          </settings-section>
        </template>
      </div>
    </template>
    <template is="dom-if"
        if="[[showAdvancedSettings_(pageVisibility.advancedSettings)]]">
      <settings-idle-load id="advancedPageTemplate">
        <template>
          <div id="advancedPage" hidden$="[[!showAdvancedPage_(
              currentRoute_, inSearchMode, hasExpandedSection_,
              advancedToggleExpanded)]]">
            <template is="dom-if" if="[[showPage_(pageVisibility.languages)]]"
                restamp>
<if expr="not chromeos_ash">
              <settings-languages languages="{{languages}}" prefs="{{prefs}}"
                  language-helper="{{languageHelper}}">
              </settings-languages>
</if>
              <settings-section
<if expr="not chromeos_ash">
                  page-title="$i18n{languagesCardTitle}"
</if>
<if expr="chromeos_ash">
                  page-title="$i18n{languagesPageTitle}"
</if>
                  section="languages">
<if expr="chromeos_ash">
                <cr-link-row id="openChromeOSLanguagesSettings"
                    on-click="onOpenChromeOSLanguagesSettingsClick_"
                    label="$i18n{openChromeOSLanguagesSettingsLabel}" external>
                </cr-link-row>
</if>
<if expr="not chromeos_ash">
                <settings-languages-page prefs="{{prefs}}"
                    languages="{{languages}}"
                    language-helper="{{languageHelper}}">
                </settings-languages-page>
</if>
              </settings-section>
            </template>
<if expr="not chromeos_ash">
            <template is="dom-if" if="[[showPage_(pageVisibility.spellCheck)]]"
                restamp>
              <settings-section page-title="$i18n{spellCheckTitle}"
                  section="spellCheck" nest-under-section="languages"
                  id="spellCheckSettingsSection">
                <settings-spell-check-page prefs="{{prefs}}"
                    languages="{{languages}}"
                    language-helper="{{languageHelper}}">
                </settings-spell-check-page>
              </settings-section>
            </template>
            <template is="dom-if"
                if="[[enableDesktopDetailedLanguageSettings_]]" restamp>
              <settings-section page-title="$i18n{translatePageTitle}"
                  section="translate" nest-under-section="languages">
                <settings-translate-page prefs="{{prefs}}"
                    languages="{{languages}}"
                    language-helper="{{languageHelper}}">
                </settings-translate-page>
              </settings-section>
            </template>
</if>
            <template is="dom-if"
                if="[[showPerformancePage_(pageVisibility.performance)]]"
                restamp>
              <settings-section page-title="$i18n{performancePageTitle}"
                  section="performance" id="performanceSettingsSection">
                <settings-performance-page prefs="{{prefs}}">
                </settings-performance-page>
              </settings-section>
            </template>
            <template is="dom-if" if="[[showPage_(pageVisibility.downloads)]]"
                restamp>
              <settings-section page-title="$i18n{downloadsPageTitle}"
                  section="downloads">
                <settings-downloads-page prefs="{{prefs}}">
                </settings-downloads-page>
              </settings-section>
            </template>
            <template is="dom-if" if="[[showPage_(pageVisibility.a11y)]]"
                restamp>
              <settings-section page-title="$i18n{a11yPageTitle}"
                  section="a11y">
                <settings-a11y-page prefs="{{prefs}}"></settings-a11y-page>
              </settings-section>
            </template>
<if expr="not chromeos_ash">
            <settings-section page-title="$i18n{systemPageTitle}"
                section="system">
              <settings-system-page prefs="{{prefs}}"></settings-system-page>
            </settings-section>
</if>
            <template is="dom-if" if="[[showPage_(pageVisibility.reset)]]"
                restamp>
              <settings-section page-title="$i18n{resetPageTitle}"
                  section="reset">
                <settings-reset-page prefs="{{prefs}}"></settings-reset-page>
              </settings-section>
            </template>
          </div>
        </template>
      </settings-idle-load>
    </template>
