/* Copyright 2017 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

@import url(chrome://resources/css/roboto.css);

body {
    margin: 0 0 20px 0;
    padding: 0;
}

body,
button,
input,
select {
    background-color: rgb(241, 241, 241);
    font-family: Roboto;
}

h1 {
    background: rgb(247, 152, 58);
    color: white;
    display: block;
    font-size: 16px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    width: 100%;
}

h2 {
    color: rgb(97, 97, 97);
    font-size: 13px;
    height: 15px;
    margin-top: 21px;
}

.container {
    margin: auto;
    width: 646px;
}

.option {
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 60px;
    min-height: 60px;
    padding: 0 20px;
    vertical-align: middle;
    width: 646px;
}

.option input[type='checkbox'] {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: url(unchecked.png);
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    float: right;
    height: 60px;
    margin: 0;
    padding: 0;
    width: 40px;
}

#developerLog {
  padding: 0;
  width: 686px;
}

.option .developerLog {
  height: 60px;
  padding-inline-end: 0;
  width: 666px;
}

.option .sub-description {
  color: rgb(95, 99, 104);
  display: block;
}

.option .developer-option-icon-button {
  height: 60px;
  padding: 0 20px;
}

.option input[type='checkbox']:checked {
    background-image: url(checked.png);
}

#show-log-label {
  flex: 1;
}

.option select {
    background-color: #fff;
    border-color: #ddd;
    border-width: 0 0 1px 0;
    height: 20px;
    line-height: 60px;
    margin: 20px 0;
    padding: 0;
}

.option input {
    background-color: #fff;
    border-color: #ddd;
    border-width: 0 0 2px 0;
    outline: none;
}

.option input:focus {
    border-color: rgb(0, 0, 255);
}

.option button {
    background-color: #ddd;
    border-width: 0;
    font-weight: bold;
    height: 30px;
    margin-inline-start: 20px;
    padding: 0 20px;
}

.option-eventstream {
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 30px;
    min-height: 30px;
    padding: 0 20px;
    vertical-align: middle;
    width: 646px;
}

