<!--
Copyright 2019 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
    <link rel="stylesheet" href="arc_tracing.css">
    <script src="chrome://resources/js/cr.js"></script>
    <script src="chrome://resources/js/cr/ui.js"></script>
    <script src="chrome://resources/js/assert.js"></script>
    <script src="chrome://resources/js/util.js"></script>
    <script src="arc_tracing_ui.js"></script>
    <script src="arc_overview_tracing_ui.js"></script>
    <script src="arc_overview_tracing.js"></script>
    <title>ARC performance overview</title>
  </head>
  <body>
    <div>
      <h3>ARC tracing overview</h3>
      Use <b>Ctrl+Shift+G</b> in active Android app to start/stop tracing. Max
      profiling time:
      <input type="number" id="arc-overview-tracing-max-time" min="1" max="30"
          value="5">
      seconds. Status: <i id="arc-tracing-status">Idle</i>
      <div id="arc-tracing-control-buttons">
        <button type="button" id="arc-tracing-load">Add</button>
      </div>
    </div>
    <hr>
    <div id="arc-overview-tracing-model-template" hidden>
      <span class="arc-tracing-dot"></span>
      <a href="#" class="arc-tracing-close-button"></a>
      <img class="arc-tracing-app-icon">
      <span class="arc-tracing-app-title"></span>
      <span class="arc-tracing-app-date"></span>,
      <span class="arc-tracing-app-duration"></span>s.
      <span class="arc-tracing-new-line"></span>
      <span class="arc-tracing-app-platform"></span>
      <span class="arc-tracing-new-line"></span>
      App FPS: <span class="arc-tracing-app-fps"></span>
      Chrome FPS: <span class="arc-tracing-chrome-fps"></span>
      <span class="arc-tracing-new-line"></span>
      Render quality: <span class="arc-tracing-app-render-quality"></span>
      Commit deviation: <span class="arc-tracing-app-commit-deviation"></span>
      <span class="arc-tracing-new-line"></span>
      <div class="arc-overview-tracing-power">
        Average power:
        <span class="arc-tracing-app-power-total"></span> watts.
        <span class="arc-tracing-new-line"></span>
        CPU: <span class="arc-tracing-app-power-cpu"></span>,
        GPU: <span class="arc-tracing-app-power-gpu"></span>,
        Memory: <span class="arc-tracing-app-power-memory"></span> watts.
        <span class="arc-tracing-new-line"></span>
      </div>
    </div>
    <div id="arc-overview-tracing-models"></div>
    <hr>
    <div id='arc-event-bands'></div>
    <div id='arc-detailed-view-overlay'></div>
    <div id='arc-event-band-tooltip'></div>
  </body>
</html>
